*, ::after, ::before
  margin: 0
  padding: 0
  box-sizing: border-box

h5:where(.css-dev-only-do-not-override-14i19y2).ant-typography
  margin-bottom: 0

.ant-input-number-affix-wrapper
  width: auto

:where(.css-dev-only-do-not-override-14i19y2).ant-image .ant-image-img
  width: 240px
  height: 210px
  @media (max-width: 600px)
    width: 160px
    height: 140px
  @media (max-width: 400px)

:where(.css-dev-only-do-not-override-14i19y2).ant-typography+h4.ant-typography
  margin-top: 0

:where(.css-dev-only-do-not-override-14i19y2).ant-image
  margin: 0 auto

:where(.css-dev-only-do-not-override-14i19y2).ant-image .ant-image-mask
  display: none

:where(.css-dev-only-do-not-override-14i19y2).ant-layout-header
  @media (max-width: 400px)
    padding: 0 20px

a
  text-decoration: none

.button_edit
  margin-top: 30px
  display: flex
  justify-content: center

.pagination
  margin: 20px

.feedback
  text-align: center
  margin-top: 50px
