*, ::after, ::before
  margin: 0
  padding: 0
  box-sizing: border-box

h5:where(.css-dev-only-do-not-override-14i19y2).ant-typography
  margin-bottom: 0

.ant-input-number-affix-wrapper
  width: auto

a
  text-decoration: none

.options
  display: grid
  grid-template-columns: max-content max-content auto
  grid-column-gap: 10px
  margin: 20px 10px

.ads
  display: grid
  grid-template-columns: max-content auto
  grid-column-gap: 15px
  margin: 20px 10px
  padding: 15px 5px
  background: #ececec
