*, ::after, ::before
  margin: 0
  padding: 0
  box-sizing: border-box

//.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected,
//.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected:hover,
//.ant-menu-dark>.ant-menu .ant-menu-item-selected
//  background-color: rgba(169, 37, 112, 0.92)